<div class="modal fade in" id="myModalAdd" role="dialog">
    <div class="modal-dialog"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.addProviderAccountDirective.hide()">&times;</button>
                <h4 class="modal-title"><i class="fa fa-cart-plus"></i> {{ vm.addProviderAccountDirective.title }} Account :</h4> 
            </div> 
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-xs-12">
                            <div class="box container-fluid">
                                 <form name="userForm" id="signupform" class="form-horizontal" role="form" ng-submit="vm.addProviderUserAccount(userForm.$valid)" novalidate>

                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>

                                    <!-- ACCOUNT USERNAME -->
                                    <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                                        <label for="username" class="col-md-3 control-label">Username</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="username" placeholder="Username" data-ng-model="vm.registration.username" required autofocus>
                                            <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">Your Username is required.</p>
                                        </div>
                                    </div>

                                    <!-- ACCOUNT PASSWORD -->
                                    <div class="form-group" ng-class="{ 'has-error' : userForm.passwd.$invalid && !userForm.passwd.$pristine }">
                                        <label for="passwd" class="col-md-3 control-label"><i class="fa fa-key"></i> Password</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control" name="passwd" placeholder="Password" data-ng-model="vm.registration.password" required>
                                            <p ng-show="userForm.passwd.$invalid && !userForm.passwd.$pristine" class="help-block">A password is required.</p>
                                        </div>
                                    </div>

                                    <!-- MAIN PASSWORD -->
                                    <div class="form-group" ng-class="{ 'has-error' : userForm.mainpasswd.$invalid && !userForm.mainpasswd.$pristine }">
                                        <label for="mainpasswd" class="col-md-3 control-label"><i class="fa fa-user-secret"></i> Main Password</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control" name="mainpasswd" placeholder="Main Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" data-ng-model="vm.registration.account.password" required>
                                            <p ng-show="userForm.mainpasswd.$invalid && !userForm.mainpasswd.$pristine" class="help-block">Your main password is required.</p>
                                        </div>
                                    </div>                                    

                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button ng-disabled="!userForm.$valid" id="btn-signup" type="submit" class="btn btn-info">
                                                <i class="icon-hand-right"></i> &nbsp Add New Account
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> 
                </div> 
                <!-- <div ng-transclude></div> -->
            </div>
        </div>
    </div>
</div>