<div class="modal fade in" id="myModalInformation" role="dialog">
	<!-- {#DEBUT FEUILLE DE STYLE FICHE FOURNISSEUR #} -->
	<style>
		.fixed_widthimg {
	      height: 40%;
	      width: 40%;
	    }
	    .conversation-wrap
	    {
	        box-shadow: -2px 0 3px #ddd;
	        padding:0;
	        max-height: 400px;
	        overflow: auto;
	    }
	    .conversation
	    {
	        padding:5px;
	        border-bottom:1px solid #ddd;
	        margin:0;
	    }
	    .message-wrap
	    {
	        box-shadow: 0 0 3px #ddd;
	        padding:0;
	    }
	    .msg
	    {
	        padding:5px;
	        /*border-bottom:1px solid #ddd;*/
	        margin:0;
	    }
	    .msg-wrap
	    {
	        padding:10px;
	        max-height: 400px;
	        overflow: auto;
	    }
	    .time
	    {
	        color:#bfbfbf;
	    }
	    .send-wrap
	    {
	        border-top: 1px solid #eee;
	        border-bottom: 1px solid #eee;
	        padding:10px;
	        /*background: #f8f8f8;*/
	    }
	    .send-message
	    {
	        resize: none;
	    }
	    .highlight
	    {
	        background-color: #f7f7f9;
	        border: 1px solid #e1e1e8;
	    }
	    .send-message-btn
	    {
	        border-top-left-radius: 0;
	        border-top-right-radius: 0;
	        border-bottom-left-radius: 0;
	        border-bottom-right-radius: 0;
	    }
	    .btn-panel
	    {
	        background: #f7f7f9;
	    }
	    .btn-panel .btn
	    {
	        color:#b8b8b8;
	        transition: 0.2s all ease-in-out;
	    }
	    .btn-panel .btn:hover
	    {
	        color:#666;
	        background: #f8f8f8;
	    }
	    .btn-panel .btn:active
	    {
	        background: #f8f8f8;
	        box-shadow: 0 0 1px #ddd;
	    }
	    .btn-panel-conversation .btn,.btn-panel-msg .btn
	    {
	        background: #f8f8f8;
	    }
	    .btn-panel-conversation .btn:first-child
	    {
	        border-right: 1px solid #ddd;
	    }
	    .msg-wrap .media-heading
	    {
	        color:#003bb3;
	        font-weight: 700;
	    }
	    .msg-date
	    {
	        background: none;
	        text-align: center;
	        color:#aaa;
	        border:none;
	        box-shadow: none;
	        border-bottom: 1px solid #ddd;
	    }
	    body::-webkit-scrollbar {
	        width: 12px;
	    }
	    /* Let's get this party started */
	    ::-webkit-scrollbar {
	        width: 6px;
	    }
	    /* Track */
	    ::-webkit-scrollbar-track {
	        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	        /*        -webkit-border-radius: 10px;
	                border-radius: 10px;*/
	    }
	    /* Handle */
	    ::-webkit-scrollbar-thumb {
	        /*        -webkit-border-radius: 10px;
	                border-radius: 10px;*/
	        background:#ddd;
	        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	    }
	    ::-webkit-scrollbar-thumb:window-inactive {
	        background: #ddd;
	    }
	    .img-responsive {
		    margin: 0 auto;
		}
	</style>
	<!-- {#FIN FEUILLE DE STYLE FICHE FOURNISSEUR #} -->
	<div class="modal-dialog"> 
		<div class="modal-content"> 
			<div class="modal-header"> 
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.providerInformationDirective.hide()">&times;</button>
				<h4 class="modal-title"><i class="fa fa-info-circle"></i> Provider Informations : </h4> 
			</div> 
			<div class="modal-body">
			    <!--  {# DEBUT DE LA FICHE FOURNISSEUR #} -->
			    <div class="container-fluid">
			        <div class="row-fluid text-center">
			            <div class="col-xs-12">
			                <div class="box">
			                    <div class="box-icon">
			                        <span class="fa fa-4x">
			                            <img ng-if="vm.providerInformationDirective.imageBase64 != null" class="media-object img-responsive fixed_widthimg" src="data:image/png;base64,{{ vm.providerInformationDirective.imageBase64 }}"></img>
			 
						                <!-- TODO TEMPORAIRE -->
						                <img ng-if="vm.providerInformationDirective.imageBase64 == null && vm.providerInformationDirective.title == 'Free'" class="media-object fixed_widthimg img img-responsive" src="./ressources/provider/IFA/free_logo.jpg">

										<img ng-if="vm.providerInformationDirective.imageBase64 == null && vm.providerInformationDirective.title == 'SFR'" class="media-object fixed_widthimg img img-responsive" src="./ressources/provider/IFA/SFR_logo.jpg">

										<img ng-if="vm.providerInformationDirective.imageBase64 == null && vm.providerInformationDirective.title == 'ORANGE'" class="media-object fixed_widthimg img img-responsive" src="./ressources/provider/IFA/orange_logo.jpg">

										<img ng-if="vm.providerInformationDirective.imageBase64 == null && vm.providerInformationDirective.title == 'BOUYGUESTELECOM'" class="media-object fixed_widthimg img img-responsive" src="./ressources/provider/IFA/BOUYGUESTELECOM_logo.jpg">

										<img ng-if="vm.providerInformationDirective.imageBase64 == null && vm.providerInformationDirective.title == 'NUMERICABLE'" class="media-object fixed_widthimg img img-responsive" src="./ressources/provider/IFA/numericable_logo.jpg">
			                        </span>
			                    </div>
			                    <div class="info">
			                        <div class="panel panel-pricing">
			                            <div class="panel-heading">
			                                <h4 class="text-center">Name : {{ vm.providerInformationDirective.title }}</h4>
			                            </div>
			                            <div class="panel-body text-center">
			                            </div>
			                            <ul class="list-group text-center">
			                                <li class="list-group-item"><i class="fa"></i>Description : {{ vm.providerInformationDirective.description }}</li>
			                                <li class="list-group-item"><i class="fa"></i>
			                                    <p><strong>#other informations#</strong></p>
			                                </li>
			                            </ul>
			                        </div>
			                    </div>
							</div>			                    
			            </div>
			        </div>
			    </div>
			    <!-- {# FIN DE LA FICHE FOURNISSEUR #} -->
			    <!-- <div ng-transclude></div> -->
			</div>
		</div>
	</div>
</div>