/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}
.menu:before {
    content: "[";
}
.menu:after {
    content: "]";
}
.menu > li {
    display: inline;
}
.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;

  /*background-color: #333;*/
  background-color: #222;
  border-color: #101010;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

footer .navbar-collapse.in {
    bottom: 70px;
    position: absolute;
    background-color:#222;
    width:100%;
}

code {
  font-size: 80%;
}

.afooter {
    /* color: #9d9d9d;*/
    text-decoration: none;
    color: #9d9d9d;
    position: relative;
    display: block;

    height: 40px;
}
.navbarfooter:hover {
    text-decoration: none;
    background-color: transparent;
}
.navbarfooter {
  font-size: 11px;

  /*height: 30px;*/
}
