<style>
.mini-submenu{
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}
/*table .collapse.in {
  display:table-row;
}*/
</style>

<div class="container-fluid">
  <div class="row-fluid">
    <h1 class="text-center"><img src="ressources/logo/t2u_45x45.png" alt="T2U logo">TU² [The universal unifier]</h1>
  </div>
  
  <!-- DEBUT TITRE DE LA DASHBOARD -->
  <div class="row-fluid">
          <h1 class="page-header">Welcome {{ vm.cntx.account.email }} </h1>
  </div>
  <!-- DEBUT ENTETE DES BOUTTONS -->
  <div class="row-fluid">
      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Your Charts :
              <div class="pull-right">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs" ng-click="vm.simpleGetCall(true)"><i class="fa fa-refresh"></i> Refresh All</button>
                  </div>
              </div>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>#id</th>
                        <th>Title</th>
                        <th>Chart type</th>
                        <th>Last update</th>
                        <th>Chart description</th>
                        <th></th>
                    </tr>
                </thead>
                 <tbody id="items">
                  <tr class="clickable" data-toggle="collapse" id="row1{{ myChart.id_chart }}" data-target=".row1{{ myChart.id_chart }}" data-ng-if="vm.cntx.isAuth" data-ng-repeat-start="myChart in vm.chartResult">
                      <td><i class="glyphicon glyphicon-plus"></i>{{ myChart.id_chart }}</td>
                      <td>{{ myChart.title }}</td>
                      <td>{{ myChart.charttype }}</td>
                      <td>{{ myChart.updatedString }}</td>
                      <td>{{ myChart.description }}</td>
                      <td><div class="text-center"><button type="button" class="btn btn-block btn-default" ng-click="vm.simpleGetCall(true)"><i class="fa fa-refresh"></i> reload</button></div></td>
                  </tr>
                  <tr class="collapse row1{{ myChart.id_chart }}">
                      <th>#id</th>
                      <th>Created</th>
                      <th>Document Type</th>
                      <th>Last update</th>
                      <th>Document description</th>
                      <th></th>
                  </tr>
                  <tr class="collapse row1{{ myChart.id_chart }}" data-ng-repeat-end data-ng-repeat="oEnteteDocument in myChart.enteteDocumentList">
                      <td>{{ $index }}</td>
                      <td>{{ oEnteteDocument.createdString }}</td>
                      <td>{{ oEnteteDocument.typeDocument }}</td>  
                      <td>{{ oEnteteDocument.updatedString }}</td>
                      <td>{{ oEnteteDocument.description }}</td>
                      <th></th>
                  </tr>                  
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
            <textarea class="form-control" row-fluids="5" id="comment">{{vm.simpleGetCallResult}}</textarea>
          </div>
          <!-- /.panel-body -->
      </div>    
  </div>

  <!-- DEBUT AFFICHAGE DES DONNEES -->
  <div class="row-fluid">
    <!-- <div class="col-lg-12"> -->
        <h1 class="page-header"><i class="fa fa-database"></i> Your Data : </h1>
    <!-- </div> -->
  </div>
  <div class="row-fluid" data-ng-repeat="myChart in vm.chartResult"> 
    <div class="panel panel-default">
      <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> {{ myChart.title }}
          <div class="pull-right">
              <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                      Actions
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right" role="menu">
                      <li><a ng-click="vm.swapChartType(vm.chartObjectArray[$index])">Line/Bar</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <highchart id="chart1{{ myChart.id_chart }}" config="vm.chartObjectArray[$index].chartConfig" class="span10"></highchart>
      </div>
      <!-- /.panel-body --> 
    </div>   
  </div>

  <!-- EXEMPLE MANUAL -->
   <div class="row-fluid">
    <!-- DEBUT AFFICHAGE LARGE -->
    <div class="col-lg-8">
       <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Chart Example Single line series
              <div class="pull-right">
                  <div class="btn-group">
                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                          Actions
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu pull-right" role="menu">
                          <li class="divider"></li>
                          <li><a ng-click="vm.swapChartType(vm.singleLineSeriesChartExample)">Line/Bar</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
               <highchart id="chart2" class="chart" config="vm.singleLineSeriesChartExample.chartConfig" class="span9" ></highchart>
          </div>
          <!-- /.panel-body -->
      </div> 
    </div>
    <!-- FIN AFFICHAGE LARGE -->
    <!-- DEBUT AFFICHAGE DE COTE -->
    <div class="col-lg-4">
       <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Chart Example Pie Chart
              <div class="pull-right">
                  <div class="btn-group">
                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                          Actions
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu pull-right" role="menu">
                          <li class="divider"></li>
                          <li><a ng-click="vm.swapChartType(vm.pieChartExample)">Line/Bar</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
               <highchart id="chart2" class="chart" config="vm.pieChartExample.chartConfig" class="span9" ></highchart>
          </div>
          <!-- /.panel-body -->
      </div>                    
    </div>
    <!-- FIN AFFICHAGE DE COTE -->
  </div>
  <div class="row-fluid">
    <!-- DEBUT AFFICHAGE LARGE -->
    <div id="sortable" class="row">
    <div class="col-lg-8">
       <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Chart Example Basic Area Chart
              <div class="pull-right">
                  <div class="btn-group">
                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                          Actions
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu pull-right" role="menu">
                          <li class="divider"></li>
                          <li><a ng-click="vm.swapChartType(vm.basicAreaChartExample)">Line/Bar</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
               <highchart id="chart2" class="chart" config="vm.basicAreaChartExample.chartConfig" class="span9" ></highchart>
          </div>
          <!-- /.panel-body -->
      </div> 
    </div>
    <!-- FIN AFFICHAGE LARGE -->
    <!-- DEBUT AFFICHAGE DE COTE -->
    <div class="col-lg-4">
       <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Chart Example Basic Area Chart
              <div class="pull-right">
                  <div class="btn-group">
                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                          Actions
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu pull-right" role="menu">
                          <li class="divider"></li>
                          <li><a ng-click="vm.swapChartType(vm.basicAreaChartExample)">Line/Bar</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
               <highchart id="chart2" class="chart" config="vm.basicAreaChartExample.chartConfig" class="span9" ></highchart>
          </div>
          <!-- /.panel-body -->
      </div>                    
    </div>
    <!-- FIN AFFICHAGE DE COTE -->
  </div>
  </div>
</div>
<script>
$(function(){

  $('#slide-submenu').on('click',function() {             
        $(this).closest('.list-group').fadeOut('slide',function(){
          $('.mini-submenu').fadeIn();  
        });
        
      });

  $('.mini-submenu').on('click',function(){   
        $(this).next('.list-group').toggle('slide');
        $('.mini-submenu').hide();
  })

/*  $("#sortable").sortable();
  $("#sortable").disableSelection();*/
})
</script>