<style type="text/css">
    h1 {
        font: 700 40px/1.2 Raleway, sans-serif;
        font-family: 'Lato', serif;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 5px 0 5px;
    }
    
    body {
        /* The html and body elements cannot have any padding or margin. */
        background-image: url("ressources/background-imager/Elegant_Background-12.jpg");
        background-color: #cccccc;
        /*background-attachment: fixed;
        background-position: center;*/
        background-size: cover; 
    }
    
    #test011 h1 {
        color: white;
    }
    
    #test011 h2 {
        color: white;
    }
    /*#hideme {display: none;}*/
</style>

<div class="container">
    <div class="row">
        <title>TU²</title>
    </div>
    <div class="row" id="test011">
        <h1 class="text-center">TU² [The universal unifier]</h1>
        <h1 class="text-center"><img src="ressources/logo/t2u_273x273.png" alt="T2U logo"></h1>

        <div class="form-group text-center">
            <h1 class="text-center">Welcome To The Future</h1>
            <h2 class="text-center">One Web Site to rule them all</h2>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <a href="#/signup" id="gotosignup" class="btn btn-default btn-lg" role="button"><i class="fa fa-user-plus"></i> Sign Up Now</a>
        </div>
    </div>
</div>