<div class="container">
	<div class="row text-center">
		<h1 class="text-center"><i class="fa fa-tasks"></i> HOW IT WORKS</h1>
    <!-- 16:9 aspect ratio -->
    <div class="wpb_video_wrapper"> <!--  embed-responsive-16by9"> -->
      <iframe width="853" height="480" src="https://www.youtube.com/embed/pivE5bj9D9w?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <!-- <div class="wpb_video_wrapper">      
    <iframe id="td_youtube_player" width="100%" height="560" src="http://www.youtube.com/embed/pivE5bj9D9w?enablejsapi=1&amp;feature=oembed&amp;wmode=opaque&amp;vq=hd720" frameborder="0" allowfullscreen="" style="height: 417.6px;"></iframe>
    </div> -->
	</div>
	<div class="row">
		<h1 class="text-center"><i class="fa fa-power-off"></i> Powered By</h1>
	</div>
    <div class="row">
       <div class="col-md-6 col-md-offset-3 text-center">
          <p class="lead">
             <img class="imgbottom" src="ressources/illus/java.svg" alt="T2U logo" height="100" width="63">
             <img class="imgbottom" src="ressources/illus/selenium.svg" alt="T2U logo" height="100" width="77">
             <img class="imgbottom" src="ressources/illus/restlet.png" alt="Restlet logo">
             <img class="imgbottom" src="ressources/illus/nodejs.svg" alt="T2U logo" height="100" width="317">
             <img class="imgbottom" src="ressources/illus/npm.svg" alt="T2U logo" height="100" width="225">
             <img class="imgbottom" src="ressources/illus/angular.svg" alt="T2U logo" height="100" width="335">
             <img class="imgbottom" src="ressources/illus/typescript.png" alt="Typescript logo">
             <img class="imgbottom" src="ressources/illus/h2.png" alt="H2 logo">
             <img class="imgbottom" src="ressources/illus/hibernate.png" alt="Hibernate logo">
             <img class="imgbottom" src="ressources/illus/wildfly.svg" alt="T2U logo" height="100" width="140">
             <img class="imgbottom" src="ressources/illus/openshift.svg" alt="T2U logo" height="100" width="100">
             <img class="imgbottom" src="ressources/illus/hcj.svg" alt="T2U logo" height="100" width="157">
             <img class="imgbottom" src="ressources/illus/highcharts.png" alt="HighCharts logo">
          </p>
       </div>
       <div class="col-md-6 col-md-offset-3 text-center">
          <p class="lead"><hr></p>
       </div>
    </div>
</div>