<br>
<div class="container-fluid">
    <div class="row-fluid">
        <h1><i class="fa fa-book" aria-hidden="true"></i><strong> Legal Notice</strong></h1>
        <strong> </strong>
        <p>
        </p>
        <h3>Mentions légales</h3>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-target="#Q1">Editeur du Site et des services web</a></h4>
                </div>
                <div id="Q1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>T2U France, Société a but non lucratif au capital de 1,00 euros
                            <br>Activités : Conception et commercialisation de logiciels informatiques
                            <br>Siège social : T2U - Place Bellecour 69000 Lyon, France.
                            <br>Responsable légal : M. Alexis Landrieu et M. Guillaume Appy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-target="#Q2">Copyright et Propriété intellectuelle</a></h4>
                </div>
                <div id="Q2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>L’ensemble des éléments figurant sur ce site sont protégés par les dispositions du Code de la Propriété Intellectuelle. En conséquence, toute reproduction de ceux-ci, totale ou partielle, ou imitation, sans notre accord exprès, préalable et écrit, est interdite. Il est formellement interdit de collecter et d’utiliser les informations disponibles sur le site à des fins commerciales. Cette interdiction s’étend notamment, sans que cette liste ne soit limitative, à tout élément rédactionnel figurant sur le site, à la présentation des écrans, aux logiciels nécessaires à l’exploitation, aux logos, images, photos, graphiques, de quelque nature qu’ils soient.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-target="#Q3">Inscription à la CNIL et Protection des données personnelles</a></h4>
                </div>
                <div id="Q3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Numéro d'inscription à la CNIL : 9999999
                            <br>En aucun cas, les données recueillies sur le site webapp-t2u.rhcloud.com et sur les services web api-t2u.rhcloud.com ne seront cédées ou vendues à des tiers autre que T2U et Gimel Lavergne. Aucune adresse email ne sera transmise à des tiers y compris à nos partenaires sauf avec l’accord écrit des intéressés. Les données collectées par l’intermédiaire du site webapp-t2u.rhcloud.com et sur les services web api-t2u.rhcloud.com sont destinées à l’usage exclusif de la société T2U. Conformément à la loi « Informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès (art. 34, loi 78-17), de modification, de rectification et de suppression (art. 36, loi 78-17) des données qui vous concernent. Vous pouvez, à tout moment, demander à exercer ce droit soit en nous contactant par email à l'adresse : <br>info.t2u@t2u.com ou en nous adressant un courrier à l’adresse suivante :<br><br>
                            <br>T2U - Place Bellecour
                            <br>69000 Lyon
                            <br>France
                            <br>Tél : + 33 2 48 94 28 00
                            <br>Fax : + 33 2 48 94 28 01
                            <br>
                            <br>Hébergeur :
                            <br>OpenShift Red Hat, Inc.
                            <br>Legal Affairs
                            <br>100 E. Davie Street
                            <br>Raleigh, NC 27601
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>