<div class="container"> 
    <div class="row"> 
     <alert dismiss-on-timeout="10000" data-ng-hide="(vm.alertsUser == null)" type="{{ vm.alertsUser.type }}" close="vm.closeAlert()">
        <i data-ng-if="vm.alertsUser.type !== 'success'" class="fa fa-exclamation-triangle"></i>
        <i data-ng-if="vm.alertsUser.type == 'success'" class="fa fa-smile-o"></i>
        {{ vm.alertsUser.msg }} 
        <div data-ng-if="vm.alertsUser.type !== 'success'"><a href="#/forgotpassword"><i class="fa fa-question-circle"></i> Forgot password ?</a></div>
    </alert>  
    </div>
    <div class="row"> 
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                   
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title"><i class="fa fa-sign-in"></i> Sign In</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#/forgotpassword"><i class="fa fa-question-circle"></i> Forgot password?</a></div>
            </div>     

            <div style="padding-top:30px" class="panel-body" >
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" class="form-horizontal" role="form">

                    <!-- INPUT LOGIN -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="text" class="form-control" name="Username" value="" placeholder="username or email" data-ng-model="vm.loginData.email" required autofocus>                                        
                    </div>

                    <!-- INPUT PASSWORD -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="password" placeholder="Password" data-ng-model="vm.loginData.password" required>
                    </div>

                    <!-- BUTTON LOGIN -->
                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <a id="btn-login" type="submit" data-ng-click="vm.login(true)" class="btn btn-success"><i class="fa fa-share-square"></i> Login  </a>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                Don't have an account!  <a href="#/signup"><i class="fa fa-user-plus"></i> Sign Up Here</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                </form>     
            </div>                     
        </div>  
    </div>
  </div>        
</div>