<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="#/dashboard" style="font-size: 0.9em" title="T2U">
            <div class="row">
                <div class="col-md-1">
                    <img style='float:left' src="ressources/logo/t2u_20x20.png" alt="T2U logo">
                    <p>T2U</p>
                </div>
            </div>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="#/dashboard">    </a></li>
            <li><a href="#/dashboard" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bar-chart"></i> Dashboard</a></li>
            <li><a href="#/supportedprovider" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-list-alt"></i> My Applications</a></li>
            <li><a ng-href="{{ vm.config.HostNameBI }}" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-pie-chart" aria-hidden="true"></i> BI </a></li>
            <li><a href="#/support" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-question"></i> Support</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- dropdown-user --> 
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                     <i class="fa fa-user fa-fw"></i>{{ vm.cntx.account.email }}<i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#/userprofile" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#/userprofile" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#/login" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
            <!-- /.dropdown-user -->      
            <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</div>