<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
        </button>

        <a class="navbar-brand" href="#/" style="font-size: 0.9em" title="T2U">
            <div class="row">
            <div class="col-md-1">
            <img style='float:left' src="ressources/logo/t2u_20x20.png" alt="T2U logo">
            <p>T2U</p>
            </div>
            </div>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="#/">    </a></li>
            <li><a href="#/supportedprovider"><i class="fa fa-list-alt"></i> Supported Provider</a></li>
            <li><a href="#/howitworks"><i class="fa fa-tasks"></i> How It Works</a></li>
            <li><a href="#/support"><i class="fa fa-question"></i> Support</a></li>
            <li><a href="#/pricing"><i class="fa fa-eur"></i> Pricing</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</div>