<!-- SRC : http://www.bootply.com/LkKXMTfMNg -->
<div class="container">
  <h3 class="text-center"><i class="fa fa-eur"></i> TU² Pricing Tables</h3>
</div>
<hr>
<!--pricing tables 2-->
<section class="container show-source">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-info">
       <div class="panel-heading"><h3 class="text-center">Free Plan</h3></div>
       <div class="panel-body text-center">
         <p class="lead" style="font-size:40px"><strong>0 <i class="fa fa-eur"></i> / month</strong></p>
       </div>
       <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">Personal use</li>
          <li class="list-group-item">Limited to 3 maximum accounts</li>
          <li class="list-group-item">Cannot refresh immediately</li>
          <li class="list-group-item">Forum support</li>
          <li class="list-group-item"><i class="fa fa-lock"></i> AES256 Encryption</li>
       </ul>
       <div class="panel-footer">
         <a class="btn btn-lg btn-block btn-danger disabled" href="#/">Default Plan when signup</a>
      </div><!--/panel-footer-->
      </div><!--/panel-->
    </div><!--/col--> 
    <div class="col-md-4">
      <div class="panel panel-info">
       <div class="panel-heading"><h3 class="text-center">Dev Plan</h3></div>
       <div class="panel-body text-center">
         <p class="lead" style="font-size:40px"><strong>4,99 <i class="fa fa-eur"></i> / month</strong></p>
       </div>
       <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">Personal use</li>
          <li class="list-group-item">Unlimited accounts</li>
          <li class="list-group-item">Cannot refresh immediately</li>
          <li class="list-group-item">Forum support</li>
          <li class="list-group-item"><i class="fa fa-lock"></i> AES256 Encryption</li>
          <li class="list-group-item">Team support</li>
          <li class="list-group-item">API access</li>
       </ul>
       <div class="panel-footer">
         <a class="btn btn-lg btn-block btn-danger disabled" href="#/">Not available during Beta</a>
	    </div><!--/panel-footer-->
      </div><!--/panel-->
    </div><!--/col-->
    <div class="col-md-4">
      <div class="panel panel-info">
       <div class="panel-heading"><h3 class="text-center">Pro Plan</h3></div>
       <div class="panel-body text-center">
         <p class="lead" style="font-size:40px"><strong>14,99 <i class="fa fa-eur"></i> / month</strong></p>
       </div>
       <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">Professionnal use use</li>
          <li class="list-group-item">Unlimited accounts</li>
          <li class="list-group-item">You can refresh immediately</li>
          <li class="list-group-item">Forum support</li>
          <li class="list-group-item"><i class="fa fa-lock"></i> AES256 Encryption</li>
          <li class="list-group-item">Team support</li>
          <li class="list-group-item">API access</li>
       </ul>
       <div class="panel-footer">
         <a class="btn btn-lg btn-block btn-danger disabled" href="#/">Not available during Beta</a>
	    </div><!--/panel-footer-->
      </div><!--/panel-->
    </div><!--/col-->
  </div><!--/row-->
</section><!--/container-->

<div id="source-modal" class="modal fade" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Source Code <button id="btnCopy" class="btn btn-default btn-xs">Select all</button>

        </h4>
      </div>
      <div class="modal-body">
        <textarea class="form-control" id="sourceCode" autofocus="" rows="25">&lt;button type="button" class="btn btn-default btn-lg btn-block"&gt;Block level button&lt;/button&gt;</textarea>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1 class="text-center"><img src="ressources/logo/t2u_273x273.png" alt="T2U logo"></h1>
</div>