<br>
<div class="container-fluid">
    <div class="row-fluid">
        <h1><i class="fa fa-book" aria-hidden="true"></i><strong> Privacy Policy</strong></h1>
        <strong> </strong>
        <p>
        </p>
        <h3>Politique de cookies</h3>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-target="#Q1">Qu'est-ce qu'un cookie ?</a></h4>
                </div>
                <div id="Q1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Les cookies sont de petits fichiers textes qui sont installés sur votre ordinateur lorsque vous visitez notre site web. Les Cookies sont appelés aussi Stockage locale.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-target="#Q2">Finalité des cookies</a></h4>
                </div>
                <div id="Q2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Nous utilisons les cookies afin de rendre vos visites sur notre site plus efficaces et sécurisé. Les cookies nous permettent d'améliorer la navigation sur notre site, de vous proposer des contenus adaptés à vos centres d’intérêts selon votre navigation et de comprendre vos visites. Ils peuvent être assimilé à des répertoires temporaire de travail.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-target="#Q3">Nous utilisons les cookies pour</a></h4>
                </div>
                <div id="Q3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Collecter des informations analytiques pour, par exemple, compter le nombre de visiteurs sur notre site web et identifier les pages de nos sites que vous visitez le plus souvent. Nous utilisons les données d'analyse pour améliorer notre site web dans le but d’augmenter votre satisfaction en naviguant sur notre site.
                            <br>Enregistrer vos informations de session qui permet à notre mécanisme d’authentification de vérifier votre identité et de protéger vos communication.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-target="#Q4">Informations collectées grâce aux cookies</a></h4>
                </div>
                <div id="Q4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Les cookies nous aident à recueillir des renseignements sur la façon dont vous utilisez notre site web, mais nous ne conservons aucune information permettant de vous identifier personnellement dans les données de nos cookies vous concernant. Nous enregistrons uniquement un identifiant de session unique qui nous aidera à retrouver un profil d'utilisateur ainsi que vos préférences lors de votre prochaine visite.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-target="#Q5">Types de cookies</a></h4>
                </div>
                <div id="Q5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p><b>Cookies de mesure d’audience</b> - Les cookies de ce type sont stockés sur votre ordinateur pour la production de statistiques anonymes à chacune de vos visites sur notre site. Ils sont conservés sur votre ordinateur pendant une durée de 13 mois. Ils nous permettent d'établir des statistiques et volumes de fréquentation et d'utilisation des divers éléments composant notre site (rubriques et contenus visités, parcours), nous permettant d'améliorer l'intérêt et l'ergonomie de nos services ;
                            <br><br>
                            <b>Cookies permanents</b> - Les cookies de ce type demeurent 13 mois sur votre ordinateur. Les cookies permanents nous aident à vous reconnaître lorsque nous devons savoir qui vous êtes pour adapter la présentation de notre site aux préférences d'affichage de votre ordinateur (langue utilisée, résolution d'affichage, système d'exploitation utilisé, etc…) lors de vos visites sur notre site, selon les matériels et les logiciels de visualisation ou de lecture que votre ordinateur comporte.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-target="#Q6">Gestion des cookies</a></h4>
                </div>
                <div id="Q6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Lorsque vous naviguez sur notre site internet, des informations sont susceptibles d'être enregistrées, ou lues, sur votre ordinateur, sous réserve de vos choix.
                            <br>
                            <br>Si vous souhaitez effectuer facilement votre choix, sélectionnez votre réponse ci-dessous :
                            <br>
                            <br><em>“Acceptez-vous le dépôt et la lecture de cookies afin que nous et nos partenaires puissions analyser vos centres d'intérêts pour vous proposer des contenus adaptés à vos besoins ?”</em>
                            <br>
                            <br>Le menu de la plupart des navigateurs comporte des options vous permettant de gérer vos cookies en réglant ou en configurant vos paramètres de cookies. Généralement, le navigateur vous offre la possibilité :
                            <br>
                            <br>D'afficher vos cookies
                            <br>D'autoriser les cookies
                            <br>De désactiver tous les cookies, ou uniquement des cookies précis
                            <br>De désactiver tous les cookies lorsque vous fermez votre navigateur
                            <br>De bloquer les cookies
                            <br>D'être informé lorsque vous recevez un cookie
                            <br>
                            <br><b>Information Importante </b>- Veuillez noter que si vous choisissez de bloquer nos cookies, certaines des fonctionnalités de notre site web seront désactivées et votre navigation risque également d'en être affectée. Si vous configurez les options de votre navigateur pour supprimer tous les cookies, vos préférences de navigation seront effacées à la fermeture de votre navigateur.
                            <br>
                            <br>Ci-dessous le menu d'aide de quelques navigateurs qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies.
                            <br>
                            <br>Internet Explorer™
                            <br>Safari™
                            <br>Chrome™
                            <br>Frefox™
                            <br>Opera™
                            <br>Microsoft Edge™
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h3>Données personnelles</h3>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-target="#Q7">Déclaration CNIL</a></h4>
                </div>
                <div id="Q7" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Comme d’écrit plus haut dans les mentions légales, T2U est c’est équipes s’engagent à respecter les lois et règlements en vigueur relatifs à la protection de la vie privée.
                            <br>
                            <br><em>Déclaration CNIL</em>
                            <br>
                            <br>En conformité avec les dispositions de la loi n°78-17 du 6 janvier 1978 relative à l'Informatique, aux fichiers et aux libertés, le traitement automatisé de données personnelles mis en œuvre dans le cadre de la mise en place des Espaces Client a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL), la déclaration n° 9999999.
                            <br>
                            <br>L'utilisateur a été informé qu'il dispose, conformément à l'article 27 de la loi précitée, d'un droit individuel d'accès, de rectification et de suppression portant sur les données personnelles qui le concernent. Ce droit peut être exercé :
                            <br>
                            <br>- Soit par courrier électronique adressé au webmaster info.t2u@t2u.com
                            <br>- Soit en écrivant à :
                            <br>
                            <br>T2U - Place Bellecour
                            <br>69000 Lyon
                            <br>France
                            <br>Tél : + 33 2 48 94 28 00
                            <br>Fax : + 33 2 48 94 28 01
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h3>Accessibilité</h3>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-target="#Q8">Politique d’accessibilité</a></h4>
                </div>
                <div id="Q8" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Ce site a été conçu dans le respect des directives pour l’accessibilité aux contenus web édictées par l’initiative WAI du W3C. Ce site s’efforce ainsi d’être accessible à tous les internautes, y compris les seniors ou les handicapés qui ont des limitations fonctionnelles.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-target="#Q9">Compatibilité avec les navigateurs</a></h4>
                </div>
                <div id="Q9" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Ce site est compatible avec tous les navigateurs récents supportant HTML 5, CSS 3 et Javascript ECMA 6.0 ou plus et respecte le vocabulaire et la grammaire HTML et CSS préconisé par le W3C.
                            <br>
                            <br>En conséquent ce site offrira le meilleur de lui-même avec les navigateurs des dernières générations tout en restant accessible aux navigateurs plus anciens.
                            <br>
                            <br>L’utilisation des navigateurs suivants est recommandée :
                            <br> - FireFox 40+
                            <br> - Google Chrome 40+
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-target="#Q10">Documents PDF à télécharger</a></h4>
                </div>
                <div id="Q10" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Vous pouvez télécharger vos documents au format PDF. Pour la lecture des documents PDF, vous pouvez télécharger Acrobat Reader ou les lire directement sur votre navigateur qui embarque un lecteur de PDF.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>