    <style type="text/css">
    .fixed_width {
      height: 100%;
      width: 100%;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        margin-top: -1px;
        padding: 6px 20px;
    }
    .input-group-btn .btn-group {
        display: flex !important;
    }
    .btn-group .btn {
        border-radius: 0;
        margin-left: -1px;
    }
    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .btn-group .form-horizontal .btn[type="submit"] {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    .form-group .form-control:last-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    @media screen and (min-width: 768px) {
        #adv-search {
            width: 500px;
            margin: 0 auto;
        }
        .dropdown.dropdown-lg {
            position: static !important;
        }
        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 500px;
        }
    }

    /* Loading directive */
    .glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    }

    @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg);}
    }

    @keyframes spin {
        from { transform: scale(1) rotate(0deg);}
        to { transform: scale(1) rotate(360deg);}
    }
</style>
<div class="container-fluid">
  <div class="row-fluid">
    <h1><i class="fa fa-list-alt"></i> List of supported applications : </h1>
  </div>
  <div class="row-fluid">
      <div class="input-group" id="adv-search">
        <input type="text" class="form-control" ng-model="q" placeholder="Search supported application" aria-label="filter split_providers" />
          <!-- <input type="text" class="form-control" placeholder="Search supported application" /> -->
          <div class="input-group-btn">
              <div class="btn-group" role="group">
                  <div class="dropdown dropdown-lg">
                      <button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                          <form class="form-horizontal" role="form">
                            <div class="form-group">
                              <label for="filter">Filter by</label>
                              <select class="form-control">
                                  <option value="0" selected>All Snippets</option>
                                  <option value="1">Featured</option>
                                  <option value="2">Most popular</option>
                                  <option value="3">Top rated</option>
                                  <option value="4">Most commented</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="contain">Author</label>
                              <input class="form-control" type="text" />
                            </div>
                            <div class="form-group">
                              <label for="contain">Contains the words</label>
                              <input class="form-control" type="text" />
                            </div>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                          </form>
                      </div>
                  </div>
                  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </div>
          </div>
      </div>
  </div>
  <div>&nbsp;</div>
  <div class="row-fluid text-center" ng-if="vm.isLoading">
    <button class="btn btn-lg btn-warning disabled"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
  </div>
  <div class="row-fluid">
    <div class="container-fluid">

      <div ng-repeat="provider in vm.providerList | filter:q as results" class="animate-repeat">
        <!-- normal -->
        <div class="ih-item square effect6 from_top_and_bottom col-md-4" id="{{ provider.name }}">
          <a href="#/supportedprovider">
              <img ng-if="provider.providerlogoBase64 != null" class="img fixed_width img-responsive" data-ng-src="data:image/png;base64,{{ provider.providerlogoBase64 }}" alt="img">
              
              <!-- TODO TEMPORAIRE SI PAS D'IMAGE TROUVE -->
           <!--    <img ng-if="provider.providerlogoBase64 == null && provider.name == 'Free'" class="img fixed_width img-responsive" src="./ressources/provider/IFA/free_logo.jpg" alt="img">
              <img ng-if="provider.providerlogoBase64 == null && provider.name == 'SFR'" class="img fixed_width img-responsive" src="./ressources/provider/IFA/SFR_logo.jpg" alt="img">
              <img ng-if="provider.providerlogoBase64 == null && provider.name == 'ORANGE'" class="img fixed_width img-responsive" src="./ressources/provider/IFA/orange_logo.jpg" alt="img">
              <img ng-if="provider.providerlogoBase64 == null && provider.name == 'BOUYGUESTELECOM'" class="img fixed_width img-responsive" src="./ressources/provider/IFA/BOUYGUESTELECOM_logo.jpg" alt="img">
              <img ng-if="provider.providerlogoBase64 == null && provider.name == 'NUMERICABLE'" class="img fixed_width img-responsive" src="./ressources/provider/IFA/numericable_logo.jpg" alt="img"> -->
            <div class="info">
              <h3>{{ provider.name }}</h3>
              <p>Description : {{ provider.description }}</p>    
                  
              <div ng-if="vm.cntx.isAuth" data-ng-repeat="myprovider in myValue=(vm.myProviderList | filter: {provider: { name: provider.name }})">
                <!-- Supprimer le fournisseur -->    
                <button id="buttonRemove" name="buttonAdd" type="button" class="btn btn-danger" data-ng-click="vm.deleteProviderUserAccount(myprovider)">Remove</button>

                <!-- Modifier les information fournisseur -->    
                <button ng-if="vm.cntx.isAuth" id="buttonModify" name="buttonAdd" type="button" class="btn btn-warning disabled" data-ng-click="vm.toggleModalAddProviderDirective(provider)">Modify</button>
              </div>
    
              <!-- Ajouter le fournisseur -->    
              <button ng-if="vm.cntx.isAuth && !myValue.length" id="buttonAdd" name="buttonAdd" type="button" class="btn btn-success" data-ng-click="vm.toggleModalAddProviderDirective(provider)">Add</button>

              <!-- Afficher des informations sur le fournisseur -->
              <button ng-if="!myValue.length" id="buttonInformation" name="buttonInformation" type="button" class="btn btn-info" data-ng-click="vm.toggleModalProviderInformationDirective(provider)">Information</button>

            </div>
          </a>
        </div>
        <!-- end normal -->
      </div>
      <div class="animate-repeat" ng-if="results.length == 0">
        <strong><i class="fa fa-frown-o"></i> No results found...</strong>
      </div>
    </div>
  </div>
    
  <!-- Seulement si Administrateur -->
  <div ng-if="vm.cntx.isAuth" class="row-fluid">
    <a href="" class="btn btn-lg btn-block disabled" role="button"><i class="fa fa-plus"></i> Adding a new Provider</a>
  </div>

  <!-- <Provider-Information-Modal-Directive ng-attr-title="ModalForm" ng-attr-visible="{{ vm.showModal }}"> -->
  <div> <Provider-Information-Modal-Directive ng-attr-id="modalInformation" ng-attr-name="modalInformation" ng-attr-title="ModalForm" /></div>
  <div><Add-Provider-Account-Modal-Directive ng-attr-id="modalAdd" ng-attr-name="modalAdd" ng-attr-title="ModalFormAdd" /></div>
</div>
