<!-- https://scotch.io/demos/angular-validation -->
<!-- TODO make alerte when bad or good login -->
<!-- http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-alerts.php -->
<div class="container">   
    <div class="row"> 
     <!-- <alert type="{{ alert.type }}" ng-repeat='alert in vm.alertsList' close="vm.closeAlert($index)">{{ alert.msg }}</alert>   -->
     <alert dismiss-on-timeout="10000" data-ng-hide="(vm.alertsUser == null)" type="{{ vm.alertsUser.type }}" close="vm.closeAlert()">
        <i data-ng-if="vm.alertsUser.type !== 'success'" class="fa fa-exclamation-triangle"></i>
        <i data-ng-if="vm.alertsUser.type == 'success'" class="fa fa-smile-o"></i>
        {{ vm.alertsUser.msg }}
    </alert>  
    </div>
    <div class="row"> 
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title"><i class="fa fa-user-plus"></i> Sign Up</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#/login" onclick="$('#signupbox').hide(); $('#loginbox').show()"><i class="fa fa-sign-in"></i> Sign In</a></div>
                </div>  
                <div class="panel-body" >
                    <form name="userForm" id="signupform" class="form-horizontal" role="form" ng-submit="vm.signUp(userForm.$valid)" novalidate>

                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>

                        <!-- INPUT USERNAME -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                            <label for="username" class="col-md-3 control-label"><i class="fa fa-user"></i> Username</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="username" placeholder="Username" data-ng-model="vm.registration.username" required autofocus>
                                <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">Your Username is required.</p>
                            </div>
                        </div>

                        <!-- INPUT EMAIL -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                            <label for="email" class="col-md-3 control-label"><i class="fa fa-envelope"></i> Email</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="email" placeholder="Email Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$" data-ng-model="vm.registration.email" required autofocus>
                                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Your email is required.</p>
                            </div>
                        </div>
                        
                        <!-- INPUT PASSWORD -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.passwd.$invalid && !userForm.passwd.$pristine }">
                            <label for="passwd" class="col-md-3 control-label"><i class="fa fa-key"></i> Password</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="passwd" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" data-ng-model="vm.registration.password" required>
                                <p ng-show="userForm.passwd.$invalid && !userForm.passwd.$pristine" class="help-block">A password is required.</p>
                            </div>

                        </div>
                        
                        <div class="form-group" ng-class="{ 'has-error' : userForm.recaptcha.$invalid && !userForm.recaptcha.$pristine }">
                            <div class="g-recaptcha" for="recaptcha" name="recaptcha" data-sitekey="6Lf3DQwTAAAAAAWXq_qXzJ-msbGHWDGNlVIl-D7X"> {{ userForm.recaptcha }}</div>
                        </div>

                        <!-- BUTTON SIGN UP -->
                        <div class="form-group">
                            <!-- Button -->                                        
                            <div class="col-md-offset-3 col-md-9">
                                <button ng-disabled="!userForm.$valid" id="btn-signup" type="submit" class="btn btn-info">
                                    <i class="icon-hand-right"></i> &nbsp <i class="fa fa-user-plus"></i> Sign Up
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
</div>
