
<div class="container-fluid text-center"> 
	<div class="row-fluid">
	    <div class="col-md-12 text-center">
	       <h2><i class="fa fa-users"></i> Team Community & Developers</h2>
	    </div>
	    <div class="col-xs-12 text-center">&nbsp;</div>
	    <div class="col-xs-12 text-center">&nbsp;</div>
	    <div class="col-xs-12 text-center">&nbsp;</div>
    </div>
	<div class="row-fluid" ng-if="vm.cntx !== undefined">
		<div class="col-xs-12">
		    <!-- Button trigger modal -->
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			  <i class="fa fa-comments-o"></i> Submit Request
			</button>
		</div>
		<div class="col-xs-12 text-center">&nbsp;</div>
	    <div class="col-xs-12 text-center">&nbsp;</div>
	    <div class="col-xs-12 text-center">&nbsp;</div>
	</div>
	<div class="row-fluid">
		<div class="col-xs-12">
		    <div class="row-fluid">
		      <div class="col-xs-6">
					<img class="img-circle img-responsive center-block" src="ressources/community/alandrieu_opt.png" alt="avatar AL">
					<h3><a href="https://plus.google.com/u/0/114250126037890771851/posts" target="_blank"><i class="fa fa-google-plus"></i> alandrieu</a></h3>
					<p>Developer & Team Manager</p>
		      </div>
		      <div class="col-xs-6"> 
					<img class="img-circle img-responsive center-block" src="ressources/community/gappy.png" alt="avatar GA">
					<h3><a href="https://bitbucket.org/Gappy" target="_blank"><i class="fa fa-bitbucket"></i> gappy</a></h3>
					<p>DBA & Developer</p>
		      </div>
		    </div>
	  	</div>
	</div>
	<div class="row-fluid">
		<div class="col-xs-12">
			&nbsp;
		</div>
	</div>			
	<div class="row-fluid">
		<div class="col-xs-12">
			<img class="img-responsive center-block" src="./ressources/illus/bitbucket.png" alt="avatar Bitbucket">
			<h3><a href="https://bitbucket.org/T2U" target="_blank"><i class="fa fa-bitbucket"></i> BitBucket</a></h3>
			<p>Source Code repository</p>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-comments-o"></i> User Request</h4>
      </div>
      <div class="modal-body">
			<form class="form-horizontal" role="form">
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="comment">Comment:</label>
			    <div class="col-sm-10"> 
			      <textarea class="form-control" rows="5" id="comment"  placeholder="Write your comment here..."></textarea>
			    </div>
			  </div>
			</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
        <button type="button" class="btn btn-primary"><i class="fa fa-share-square"></i> Submit</button>
      </div>
    </div>
  </div>
</div>