<br>
<div class="container-fluid">
    <div class="row-fluid">
        <h1><i class="fa fa-book" aria-hidden="true"></i><strong> Terms and Conditions</strong></h1>
        <strong> </strong>
        <p>Terms of Use Agreement For TU² .com and T2U API</p>
        <h3>Conditions Général d’utilisation Pour T2U</h3>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div>
                    <div class="panel-body">
                        <p>
                            <ng-include src="'/views/TermsConditions.txt'" render-html></ng-include>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>