<!-- http://stackoverflow.com/questions/19930383/bootstraps-tabs-with-data-toggle-cause-reload-in-angularjs -->
<style type="text/css">
  /*table {
    table-layout: fixed;
  }
  
  .div-table-content {
    height: 150;
    overflow-y: auto;
  }*/
  /*//medium+ screen sizes*/
  
  @media (min-width:992px) {
    .desktop-only {
      display: block !important;
    }
  }
  /*//small screen sizes*/
  
  @media (max-width: 991px) {
    .mobile-only {
      display: block !important;
    }
    .desktop-only {
      display: none !important;
    }
  }
</style>
<div class="container-fluid">
  <div class="row-fluid">
    <alert ng-repeat="alert in vm.alertsUserList" dismiss-on-timeout="10000" type="{{alert.type}}" close="vm.closeAlert($index)">
      <i data-ng-if="alert.type !== 'success'" class="fa fa-exclamation-triangle"></i>
      <i data-ng-if="alert.type == 'success'" class="fa fa-smile-o"></i> {{ alert.msg }}
    </alert>
  </div>
  <div class="row-fluid">
    <h1 class="page-header"><i class="fa fa-user"></i> Profile</h1>
  </div>
  <div class="row-fluid">
    <div class="col-sm-10">
      <h1><i class="fa fa-envelope"></i> {{ vm.cntx.account.email }}</h1></div>
    <div class="col-sm-2">
      <a class="pull-right desktop-only"><img title="profile image" class="img-circle img-responsive" src="./ressources/logo/t2u_73x73.png"></a>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-3">
      <!--left col-->
      <ul class="list-group">
        <li class="list-group-item text-muted"><i class="fa fa-user"></i> Profile</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span>{{ vm.cntx.token.issuedUtc }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span>{{ vm.cntx.token.issuedUtc }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Real name</strong></span>{{ vm.cntx.account.username }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>My Plan <i class="fa fa-eur"></i></strong></span> Free Plan</li>
      </ul>
    </div>
    <!--/col-3-->
    <div class="col-sm-9">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#home" data-toggle="tab"><i class="fa fa-home"></i> Home</a></li>
        <li><a data-target="#messages" data-toggle="tab"><i class="fa fa-list-alt"></i> Accounts</a></li>
        <li class="disabled"><a data-target="#settings" data-toggle="tab"><i class="fa fa-wrench"></i> Settings</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <!-- START TEST -->
          <div class="row-fluid">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3><i class="fa fa-database"></i> Your Charts Store [{{ vm.chartResult.length }}]</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-condensed" style="border-collapse:collapse;">
                    <!--  id="accordion" -->
                    <thead>
                      <tr>
                        <th>#id</th>
                        <th>Title</th>
                        <th>Chart type</th>
                        <th>Last update</th>
                        <th>Chart description</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-toggle="collapse" data-target="#demo{{ $index }}" class="accordion-toggle" data-ng-repeat-start="myChart in vm.chartResult">
                        <td><i class="glyphicon glyphicon-plus"></i>{{ myChart.id_chart }}</td>
                        <td>{{ myChart.title }}</td>
                        <td>{{ myChart.charttype }}</td>
                        <td>{{ myChart.updatedString }}</td>
                        <td>{{ myChart.description }}</td>
                        <td>
                          <div class="text-center">
                            <button type="button" class="btn btn-block btn-default" ng-click="vm.simpleGetCall(true)"><i class="fa fa-refresh"></i> reload</button>
                          </div>
                        </td>
                      </tr>
                      <tr data-ng-repeat-end>
                        <td colspan="6" class="hiddenRow">
                          <div class="table-responsive accordian-body collapse" id="demo{{ $index }}">
                            <table class="table table-striped">
                              <thead>
                                <tr colspan="6">
                                  <td colspan="6">
                                    <h3 class="page-header"><i class="fa fa-book"></i> Your Documents : [{{ myChart.enteteDocumentList.length }}]</h3></td>
                                </tr>
                                <tr>
                                  <th>#id</th>
                                  <th>Created</th>
                                  <th>Document Type</th>
                                  <th>Last update</th>
                                  <th>Document description</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr data-ng-repeat-start="oEnteteDocument in myChart.enteteDocumentList" data-toggle="collapse" data-target="#demo{{ myChart.id_chart }}line{{ $index }}" class="accordion-toggle panel-group" data-parent="#erer">
                                  <td>{{ $index }}</td>
                                  <td>{{ oEnteteDocument.createdString }}</td>
                                  <td>{{ oEnteteDocument.typeDocument }}</td>
                                  <td>{{ oEnteteDocument.updatedString }}</td>
                                  <td>{{ oEnteteDocument.description }}</td>
                                  <th></th>
                                </tr>
                                <tr data-ng-repeat-end>
                                  <td colspan="6" class="hiddenRow">
                                    <div class="table-responsive accordian-body collapse" id="demo{{ myChart.id_chart }}line{{ $index }}">
                                      <table class="table table-striped">
                                        <thead>
                                          <tr colspan="6">
                                            <td colspan="6">
                                              <h3 class="page-header"><i class="fa fa-file-text-o"></i> Ligne of document : [{{ oEnteteDocument.lineDocumentList.length }}]</h3></td>
                                          </tr>
                                          <tr>
                                            <th>#id</th>
                                            <th>Label</th>
                                            <th>Value</th>
                                            <th>Unit value</th>
                                            <th>Line description</th>
                                            <th>Created</th>
                                            <th>Updated</th>
                                            <th></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr data-ng-repeat="oLineDocument in oEnteteDocument.lineDocumentList">
                                            <td>{{ $index }}</td>
                                            <td>{{ oLineDocument.libelle01 }}</td>
                                            <td>{{ oLineDocument.valeur01 }}</td>
                                            <td>{{ oLineDocument.unite01 }}</td>
                                            <td>{{ oLineDocument.description }}</td>
                                            <td>{{ oLineDocument.createdString }}</td>
                                            <td>{{ oLineDocument.updatedString }}</td>
                                            <th></th>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- END OF TEST -->

          <!-- /.table-responsive -->
          <!-- <hr> -->
          <div class="row-fluid">
            <h4><i class="fa fa-rss"></i> Recent Activity :</h4>
            <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                  <tr data-ng-if="vm.cntx.isAuth" data-ng-repeat="myaccountlog in vm.myAccountLogList" class="align-left">
                    <!--   <th>{{myaccountlog.typelog}}</th> -->
                    <td ng-if="myaccountlog.typelog == 'DANGER'" style="color:red"><i class="fa fa-exclamation-triangle"></i><i class="pull-right fa fa-edit"></i>[{{myaccountlog.typelog}}] - {{ myaccountlog.updated }}{{ myaccountlog.updatedString }} - {{ myaccountlog.description}}</td>
                    <td ng-if="myaccountlog.typelog == 'INFORMATION'" style="color:green"><i class="fa fa-info-circle"></i><i class="pull-right fa fa-edit"></i>[{{myaccountlog.typelog}}] - {{ myaccountlog.updated }}{{ myaccountlog.updatedString }} - {{ myaccountlog.description}}</td>
                    <td ng-if="myaccountlog.typelog == 'WARNING'" style="color:yellow"><i class="fa fa-exclamation-circle"></i><i class="pull-right fa fa-edit"></i>[{{myaccountlog.typelog}}] - {{ myaccountlog.updated }}{{ myaccountlog.updatedString }} - {{ myaccountlog.description}}</td>
                    <td ng-if="myaccountlog.typelog != 'INFORMATION' && myaccountlog.typelog != 'DANGER' && myaccountlog.typelog != 'WARNING'"><i class="pull-right fa fa-edit"></i>[{{myaccountlog.typelog}}] - {{ myaccountlog.updated }}{{ myaccountlog.updatedString }} - {{ myaccountlog.description}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row-fluid">&nbsp;</div>
        <!--/tab-pane #0001-->
        <div class="tab-pane" id="messages">
          <div class="row-fluid">
            <h2></h2>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#id</th>
                    <th>Provider</th>
                    <th>Added DateTime</th>
                    <th>Nb Chart</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody ng-controller="myApp.controllers.SupportedProviderController" id="items">
                  <tr data-ng-if="vm.cntx.isAuth" data-ng-repeat="myprovider in vm.myProviderList">
                    <td>{{ $index }}</td>
                    <td>{{ myprovider.provider.name }}</td>
                    <td>{{ myprovider.date }}</td>
                    <td>{{ myprovider.nbdata }}</td>
                    <td>
                      <!-- Supprimer le fournisseur -->
                      <div class="text-center">
                        <button type="button" class="btn btn-block btn-default" data-ng-click="vm.deleteProviderUserAccount(myprovider)"><i class="fa fa-trash-o"></i> remove</button>
                      </div>

                      <!-- Modifier les information fournisseur -->
                      <div class="text-center">
                        <button type="button" class="btn btn-block btn-default disabled" data-ng-click="vm.toggleModalAddProviderDirective(myprovider)">modify</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Seulement si Connecté -->
          <div ng-if="vm.cntx.isAuth" class="row-fluid">
            <a href="#/supportedprovider" class="btn btn-lg btn-block" role="button"><i class="fa fa-plus"></i> Adding a new Provider</a>
          </div>
          <div class="row-fluid">&nbsp;</div>

          <!-- /.table-responsive -->
        </div>
        <!--/tab-pane-->
        <div class="tab-pane" id="settings">
          <div class="row-fluid">
            <hr>
            <form class="form" action="#" id="registrationForm">
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="first_name">
                    <h4>UserName</h4></label>
                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="email">
                    <h4>Email</h4></label>
                  <input type="email" class="form-control disabled" name="email" id="email" placeholder="{{ vm.cntx.account.email }}" title="your email.">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-6">
                  <label for="password">
                    <h4>Old Password</h4></label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-6">
                  <label for="password">
                    <h4>Password</h4></label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-6">
                  <label for="password2">
                    <h4>Verify</h4></label>
                  <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <br>
                  <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                  <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                </div>
              </div>
            </form>
          </div>
          <div class="row-fluid">&nbsp;</div>
        </div>
        <!--/tab-pane-->
      </div>
      <!--/tab-content-->
    </div>
    <!--/col-9-->
  </div>
  <!--/row-->
</div>
<!--/container

<!-- Modal Refresh data -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">User refresh request</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="vm.getRefreshData()" role="form">
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Main Password:</label>
            <div class="col-sm-10">
              <input type="password" ng-model="vm.mainPassword" class="form-control" id="pwd" placeholder="Enter your main password">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" id="submit" class="btn btn-primary" data-dismiss="vm.getRefreshData()">Submit</button>
        <button type="button" class="btn btn-primary" onclick="$('.create-new-note').modal('style=" display: none; "')" ng-click="vm.getRefreshData()" ng-disabled="bodyError()">Send!</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#accordion').on('show.bs.collapse', function() {
    $('#accordion .in').collapse('hide');
  });
</script>